.MessageItem {
  background-color: #16212b;
  border: 1px solid #38444d;
}

.MessageItem .list-group-item {
  color: white;
  background-color: #16212b;
}

.MessageItem:hover {
  background-color: #101922;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #101922;
}

.MessageItem a {
  color: white;
}

.timeline-image {
  border-radius: 50px;
  height: 60px;
  width: 60px;
  /* margin: 2px 30px 10px 10px; */
}

.MessageItem .MessageItem-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

#messageTop {
  height: 60px;
  background-color: #1c3448;
  border: 1px solid #38444d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
