.navbar-brand > img {
  width: 20px;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.navbar {
  background-color: #1c2938;
}

.navbar a {
  font-weight: bold;
  color: #6c757d;
}

.navbar a:hover {
  color: #1ea1f2;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-nav li {
  margin: 0 0.5rem;
}
