.RandomUsers img {
  height: 45px;
  width: 45px;
}

.RandomUsers li {
  background-color: #15202b;
}

.RandomUsers .follow {
  display: flex;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(29, 161, 242);
  border-radius: 9999px;
  color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}

.RandomUsers .follow:hover {
  background-color: rgb(29, 161, 242, 0.1);
}

.RandomUsers .RandomUsersUsername {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
