.UserAside {
  box-sizing: border-box;
}

.UserAside .img-thumbnail {
  height: 72px;
  width: 72px;
  border: 2px solid #15202b;
  /* border-radius: 50%; */
  padding: 0;
  z-index: -100;
}

.card {
  color: white;
  background-color: #15202b;
}

.UserAside ul li {
  color: #1ea1f2;
  background-color: #15202b;
  justify-content: center;
}

.UserAside ul li a {
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.UserAside img {
  margin-top: 10px;
  margin-left: 10px;
}
