.UserAside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #15202b;
  border: 1px solid #38444d;
}

.UserAside-Banner {
  grid-area: 1 / 1 / 3 / 7;
  display: grid;
  align-items: center;
  background-image: url("../images/useraside-banner.png");
  background-size: 100%;
  background-repeat: no-repeat no-repeat;
}

.profile-Image {
  grid-area: 2 / 1 / 4 / 3;
  padding: 6px 6px 6px 6px;
}

.profile-Image img {
  border: 3px solid #15202b;
}
.userScreenName {
  grid-area: 3 / 3 / 4 / 7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.userScreenName .userName {
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  font-weight: bold;
  font-size: 28px;
  color: white;
}

.userScreenName .userHandle {
  grid-area: 2 / 1 / 3 / 2;
  line-height: 30px;
}

.Tiririts {
  grid-area: 4 / 1 / 5 / 3;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Following {
  grid-area: 4 / 3 / 5 / 5;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Follower {
  grid-area: 4 / 5 / 5 / 7;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stat-counts {
  color: #1da1f2;
  font-weight: bold;
  font-size: 18px;
}

.stat-title {
  color: #8899a6;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 16px;
  /* overflow: hidden; */
}
