.UserAside {
  position: relative;
}

.profile-Image {
  height: 1000px;
  width: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.UserAside .img-thumbnail {
  height: 72px;
  width: 72px;
  border: 2px solid #15202b;
  /* border-radius: 50%; */
  padding: 0;
  z-index: -100;
}

.card {
  color: white;
  background-color: #15202b;
  border-radius: 0;
  border: 1px solid #38444d;
}

.UserAside ul li {
  color: #1ea1f2;
  background-color: #15202b;
  justify-content: center;
  padding: 0;
  border: 0;
}

.UserAside ul li a {
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.UserAside img {
  /* height: 100px; */
  /* width: 100px; */
  /* margin-top: 10px;
  margin-left: 10px; */
  padding: 10px 10px 10px 10px;
}

#userHandle a {
  font-weight: 100;
  font-size: 1rem;
  color: #566471;
}

.card-name {
  font-weight: bold;
  font-size: 30px;
  line-height: 25px;
  margin: -1px 0 -2px 0;
}

.userStats {
  padding: 16px;
}

.userScreenName {
  padding: 16px;
}

.UserAside .list-group {
  justify-content: space-around;
  align-items: center;
}
