/* .jumbotron {
  background-image: url("../images/useraside-banner.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  height: 300px;
}

.userProfile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 50px 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (mid-width) {
}

.banner {
  grid-area: 1 / 1 / 4 / 9;
  background-image: url("../images/useraside-banner.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
}

.userProfileImage {
  grid-area: 3 / 4 / 5 / 6;
  display: grid;
  justify-content: center;
}

.userProfileImage img {
  border: 3px solid #15202b;
}

.seperator {
  grid-area: 4 / 1 / 5 / 9;
  background-color: #1c2938;
  position: relative;
  z-index: -1;
}

.userProfile .userScreenName {
  grid-area: 4 / 1 / 5 / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userProfile .userScreenName .userNameProfile {
  font-weight: bold;
  font-size: 28px;
  color: white;
}

.userProfile .userScreenName .userHandleProfile {
  line-height: 30px;
}

.userProfile .userStats {
  grid-area: 4 / 6 / 5 / 9;
}

.userProfile .Tiririts {
  grid-area: 4 / 6 / 5 / 7;
}
.userProfile .Following {
  grid-area: 4 / 7 / 5 / 8;
}
.userProfile .Follower {
  grid-area: 4 / 8 / 5 / 9;
}

.stat-counts {
  color: #1da1f2;
  font-weight: bold;
  font-size: 18px;
  height: auto;
}

.stat-title {
  color: #8899a6;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 16px;
}

.userProfile-Messages {
  grid-area: 5 / 1 / 7 / 9;
} */

.userProfile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* grid-template-areas:
    "banner banner banner banner banner banner banner banner"
    "banner banner banner banner banner banner banner banner"
    "banner banner banner profilePic profilePic banner banner banner"
    "userHeader userHeader userHeader profilePic profilePic userHeader userHeader userHeader"; */
}

.banner {
  grid-area: 1 / 1 / 4 / 9;
  /* grid-area: banner; */
  background-image: url("../images/useraside-banner.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
}

.userHeader {
  grid-area: 4 / 1 / 5 / 9;
  /* grid-area: userHeader; */
  background-color: #1c2938;
}

.profilePic {
  grid-area: 3 / 4 / 5 / 6;
  padding: 16px;

  /* grid-area: profilePic; */
}

.profilePic img {
  border: 4px solid #15202b;
  height: 200px;
  width: auto;
}

.userName {
  grid-area: 4 / 1 / 5 / 4;
  /* grid-area: userName; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userName .userNameProfile {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.stats {
  grid-area: 4 / 6 / 5 / 9;
  /* grid-area: stats; */
  padding-top: 20px;
}

.stats ul {
  background-color: #1c2938;
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.stats ul li {
  background-color: #1c2938;
  border: 0;
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  min-width: calc(62.79px);
  min-height: 39px;
}

.follow {
  display: flex;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(29, 161, 242);
  border-radius: 9999px;
  color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}

.follow:hover {
  background-color: rgb(29, 161, 242, 0.1);
}

.unfollow {
  display: flex;
  align-items: stretch;
  background-color: rgb(29, 161, 242);
  border: 1px solid rgb(29, 161, 242);
  border-radius: 9999px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}

.unfollow:hover span {
  display: none;
}

.unfollow:hover {
  content: "Unfollow";
  background-color: rgb(202, 32, 85);
  border: 1px solid rgb(202, 32, 85);
}
.unfollow:hover:before {
  content: "Unfollow";
  background-color: rgb(202, 32, 85);
}

.Edit-Profile {
  display: flex;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(29, 161, 242);
  border-radius: 9999px;
  color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}

.Edit-Profile:hover {
  background-color: rgb(29, 161, 242, 0.1);
}

@media (max-width: 768px) {
  .userProfile {
    display: none;
  }
}

.smallerUserProfile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 60px 70px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.smallerBanner {
  grid-area: 1 / 1 / 3 / 7;
  background-image: url("../images/useraside-banner.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
}

.smallerContent {
  grid-area: 3 / 1 / 5 / 7;
  background-color: #1c2938;
}

.smallerProfilePic {
  grid-area: 2 / 1 / 4 / 3;
  padding: 20px;
}
.smallerProfilePic img {
  border: 4px solid #15202b;
  height: 100px;
  width: 100px;
}

.smallerScreenName {
  grid-area: 3 / 3 / 4 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.smallerScreenName .userName {
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  font-weight: bold;
  font-size: 28px;
  color: white;
}

.smallerScreenName .userHandle {
  grid-area: 2 / 1 / 3 / 2;
}

.followBtn {
  grid-area: 3 / 5 / 4 / 7;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallerTiririts {
  grid-area: 4 / 1 / 5 / 3;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallerFollowing {
  grid-area: 4 / 3 / 5 / 5;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallerFollower {
  grid-area: 4 / 5 / 5 / 7;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 769px) {
  .smallerUserProfile {
    display: none;
  }
}

@media (min-width: 768px) {
  .smallerProfilePic {
    grid-area: 2 / 1 / 4 / 3;
    padding: 20px;
  }
  .smallerProfilePic img {
    position: relative;
    top: 20px;
    border: 4px solid #15202b;
  }
}
